version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        WWWGROUP: "${WWWGROUP:-1000}"
    image: pi-laravel-app
    container_name: pi-laravel-app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_URL: http://localhost

      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: pi_laravel
      DB_USERNAME: pi
      DB_PASSWORD: pi

      REDIS_HOST: redis
    depends_on:
      - db
      - redis

  web:
    image: nginx:1.27-alpine
    container_name: pi-laravel-nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: mysql:8.4
    container_name: pi-laravel-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: pi_laravel
      MYSQL_USER: pi
      MYSQL_PASSWORD: pi
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: pi-laravel-redis
    ports:
      - "6379:6379"

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: pi-laravel-phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
