@use "variables" as *;

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-bg-main;
}

.main {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
}