/* FUENTE  */
$font-main: "Inter", Arial, Helvetica, sans-serif;

/* COLORES  */
$color-bg-main: #000;
$color-bg-secondary: #1a1a1a;
$color-bg-tertiary: #252525;
$color-bg-input: #333333;
$color-card: #202020;
$color-text: #fff;
$color-accent: #dd7710ec;
$color-accent-hover: rgba(255, 165, 0, 1);
$color-separator: #777777;
$color-border: #333333;
$color-danger: #ff4d4d;
$color-success: #4caf50;
$color-warning: #ff9800;
$color-gray: #555555;

/* VARIABLES DE CONFIGURACIÓN */
$num-prods-news: 3;
$num-prods-offers: 7;