// Solo lo necesario para todo el sitio
@use "base/variables" as *;
@use "base/reset";
@use "components/header";
@use "components/footer";

@include reset.styles;
@include header.styles;
@include footer.styles;
