@use "../base/variables" as *;

.admin-dashboard {
    background-color: $color-bg-tertiary;
    min-height: calc(100vh - 160px);
    width: 100%;

    .admin-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 60px 20px;
        color: $color-text;
    }

    .alert-box {
        background-color: rgba(254, 226, 226, 1); // red-50
        border-left: 4px solid rgba(248, 113, 113, 1); // red-400
        padding: 1rem;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;

        .icon {
            color: rgba(248, 113, 113, 1);
            height: 1.25rem;
            width: 1.25rem;
            margin-right: 0.75rem;
        }

        .message {
            color: rgba(185, 28, 28, 1); // red-700
            font-size: 0.875rem;
        }
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: $color-text;
    }

    .subtitle {
        color: rgba($color-text, 0.7);
        margin-bottom: 2rem;
    }

    .card {
        background-color: $color-card;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

        h2 {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $color-text;
        }

        p {
            color: rgba($color-text, 0.6);
        }
    }
}