@use '../base/variables';

footer {
  width: 100%;
  background-color: variables.$color-bg-main;
  color: variables.$color-text;
  text-align: center;
  padding: clamp(0.5rem, 2vw, 1rem);
  font-size: clamp(0.9rem, 1vw, 1rem);
  margin-top: auto; 
}